*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {

    background-color: antiquewhite;
}

nav{

    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #004274;
    position: relative;
    height: 70px;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
    
}

nav li {

    list-style-type: none;


}

nav a {
    text-decoration: none;
    color: #fff;

}

.menu-icon{
    display: none;
}

.menu-icon i{
    color: #fff;
    font-size: 30px;
    display: inline;
}

.dark-mode{

    transition-duration: 1s;

    --nav-bg:rgb(21, 0, 31);
    background-image: linear-gradient(284deg, #02032FFF 0%, #202020FF 100%);
     --font-color:#F89F5B;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
    height: 100%;

}


@media (max-width:600px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #004274;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
        padding-top: 0;
    }
    .menu-icon{
        display: block;
        cursor: pointer;

    }
    #menuList{
        transition: all 0.5s;
    }
}